<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
     <link reL="stylesheet" href="style.css">
    <title>To Do List</title>
</head>
<body>  
     
    <div class="verticalLine" id="line1"></div>

    <% if (Array.isArray(tasksList)) { %>
        <div class="container">
            <header>
                <h1>Simple To-Do List! </h1>
                <div class="horizontalLine"></div>
            </header>
            
            <section id="tasksList">
                    <ul class="tasksList">
                        <%  for(let i = 0; i<tasksList.length; i++) { %>
                            <li class="tasksList-row"> 
                                <input id="taskCheckBox" type="checkbox" name="isCheck" value=boolean <% if(tasksList[i].marcado) { %> checked <% } %> >
                        
                                <a id="taskDescription"> <%= tasksList[i].descricao %> </a>

                                <div id="taskButtons">
                                    <a href="/task/<%= tasksList[i]._id %>">Editar</a>
                                    <form method="POST" action="/task/<%= tasksList[i]._id %>">
                                        <input type="submit" value="Apagar">
                                        <input type="hidden" name="_method" value="DELETE">
                                    </form>
                                </div>
                            </li>
                        <% } %>
                    </ul>
            </section>
        
            <div class="inputSection">
                <div class="horizontalLine"></div>
                <form action="/create" method="POST"> 
                    <input type="text" name="descricao_da_tarefa" id="inputTask" placeholder="Insira uma tarefa">
                    <button id="addButton" type="submit">Adicionar</button>
                </form>
            </div>
        </div>

    <% } else { %>
        <section id="taskUpdate">
            <h1>Atualize a task: </h1>

            <form method="POST" action="/task/<%= tasksList._id %>">
                <input id="taskCheckBox" type="checkbox" name="isCheck" value=boolean <% if(tasksList.marcado) { %> checked <% } %> >
                <input type="text" name="descricao_da_tarefa" id="task" value= <%=tasksList.descricao %>>
                <button id="addButton" type="submit">Atualizar</button>
                <input type="hidden" name="_method" value="PUT">
            </form>
        </section>
    <% } %>



    <% if (typeof tasksList === "string") { %>

       

    <% } else { %> 
       
    <% } %>
    
  
    <script src="script.js"></script> 
</body>
</html>